annotated-types==0.7.0
asgiref==3.10.0
Django==5.2.7
django-admin-adminlte==1.0.14
django-adminlte3==0.1.6
django-bootstrap-datepicker-plus==5.0.6
django-filter==25.2
djangorestframework==3.16.1
Markdown==3.9
mysql==0.0.3
mysqlclient==2.2.7
narwhals==2.8.0
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pillow==12.0.0
plotly==6.3.1
pydantic==2.12.3
pydantic_core==2.41.4
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.3
six==1.17.0
spicy==0.16.0
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
