<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
      <span class="brand-text font-weight-light">Rental Mobil App</span>
    </a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a href="{% url 'car_list' %}" class="nav-link">
              <i class="nav-icon fas fa-car"></i>
              <p>Daftar Mobil</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="{% url 'admin:catalog_booking_changelist' %}" class="nav-link">
              <i class="nav-icon fas fa-calendar-check"></i>
              <p>Kelola Pemesanan</p>
            </a>
          </li>

          {% if user.is_superuser %}
          <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link">
              <i class="nav-icon fas fa-cogs"></i>
              <p>Admin Dashboard</p>
            </a>
          </li>
          {% endif %}

        </ul>
      </nav>
    </div>
</aside>