<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="/media/the-favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/media/the-favicon/favicon.svg" />
    <link rel="shortcut icon" href="/the-favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/media/the-favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/media/the-favicon/site.webmanifest" />
</head>
<body>
    <h1>Kembar Trans</h1>
    <h2><a href="{% url 'car_list' %}">{{ title }}</a></h2>
    <div><img src="/media/kembartrans.jpg" alt="Kembar Trans"></div>
    
</body>
</html>